.PageStruct {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  // border: 2px solid purple;
  padding: 0;
  margin: 2px;
   font-family: "Crafty Girls", cursive;
     font-weight: 400;
  font-style: normal;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
